<div class="container mt-4" style="background-color: white; padding: 20px;width: 30%;border-radius: 20px;">
    <form (ngSubmit)="login()" #loginForm="ngForm">
        <h1 style="text-align: center;">LOGIN</h1><br>
        <div class="mb-3">
            <input type="email" name="email" class="form-control" [(ngModel)]="email" required placeholder="email">
        </div>
        <div class="mb-3">
            <input type="password" name="password" class="form-control" [(ngModel)]="password" required placeholder="contraseña">
        </div>
        <div style="text-align: center;">
            <button type="submit" class="btn btn-primary">Iniciar sesión</button>
        </div><br>
        <div style="text-align: center;">
            <a routerLink="" (click)="olvidar()">¿Olvidaste tu contraseña?</a>
        </div>
    </form>
</div>